<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="graphmapper">

	<update id="dataUsing" parameterType="map">
		update package set usingData=usingData+#{usingData} where phone=to_char(#{phone })
		and ym=#{ym}
	</update>

	<select id="totalData" parameterType="map" resultType="com.exe.graph.GraphDTO">
		select totalData, usingData from package where phone=to_char(#{phone}) and ym=#{ym}
	</select>

 	<select id="payment" parameterType="map" resultType="com.exe.dto.payDTO">
 		select substr(substr(pay_day,1,5),4,2) pay_day, nvl(sum(price),0) price from pay 
 		where phone=#{phone} and pay_day like #{year} || '%'
 		group by substr(pay_day,1,5)
 		order by substr(pay_day,1,5)
 	</select>

 	<select id="monthpay" parameterType="map" resultType="com.exe.dto.PackageDTO">
 		select ym, nvl(price,0) price from package
 		where phone like '%' || #{phone} || '%' and ym like #{year} || '%'
 		order by ym
 	</select>

</mapper>