<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paymapper">
	<select id="maxNum" resultType="int">
		select nvl(max(num),0) from pay
	</select>
	
	<insert id="buyProduct" parameterType="com.exe.dto.payDTO">
		insert into pay(num,phone,pro_type,pro_num,pay_day,pro_count,paid,subject,price) values
		(#{num},#{phone},#{pro_type},#{pro_num},sysdate,#{pro_count},#{paid},#{subject},#{price})
	</insert>
	
	<select id="buyList" parameterType="map" resultType="com.exe.dto.payDTO">
		select num, pro_type, pro_num,pay_day,	pro_count, paid, subject, price
		from pay
		where phone =to_char(#{phone})
		and paid='paid'
	</select>
	 
	 
	 <select id="buyListSel" parameterType="map" resultType="com.exe.dto.payDTO">
		<![CDATA[
			select * from(
			select rownum rnum, data.* from (
			select num, pro_type, pro_num,pay_day,	pro_count, paid, subject, price from pay
			where phone =to_char(#{phone}) and pro_type like '%'||#{pro_type}||'%'
			and paid=#{paid}
			 order by pay_day desc) data)
			where rnum>=#{start} and rnum <=#{end}
		]]>
	</select>
	
	<select id="getDataCount" parameterType="map" resultType="int">
		select nvl(count(*),0) from pay 
		where phone=to_char(#{phone}) and paid=to_char(#{paid}) and
			pro_type like '%'||#{pro_type}||'%'
	</select>
</mapper>